* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
p {
  font-size: 16px;
}
button{
  outline: none;
}
a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  color: #555 !important;
}
ul li a {
  font-size: 16px;
}
/* navba */
.logo {
  padding-left: 140px;
}
.active-cus {
  color: #ff0000 !important;
}
.nav-cus li:first-child a {
  color: #ff0000;
}
.nav-cus li:hover > a {
  transition: all 0.5s ease;
  color: #ff0000 !important;
}
.tool div {
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 0.4rem;
  font-size: 88%;
}
.tool div:hover {
  transition: all 0.3s ease;
  border: #ff0000 2px solid;
}
.tool div a i {
  padding: 8px;
}
.tool div a i:hover {
  color: #ff0000;
}
main {
  background-color: #f8f8f8;
}
/* carousel */
#carouselId .carousel-inner .carousel-item img {
  width: 100%;
}
/* list sản phẩm này */
.card-deck {
  margin: 0 auto !important;
  width: 88%;
  margin: 0;
}
.card-deck .card:hover > img {
  opacity: 0.75;
}
.card-deck .card:hover .card-title {
  color: #fff;
  background-color: #ff0000;
}
.card-deck .card img {
  width: 100%;
}
.card-deck .card .card-title {
  margin: 16px 18px;
  line-height: 2.6;
  font-size: large;
  text-align: center;
  text-transform: uppercase;
  height: 48px;
  background-color: #f5f5f5;
}
/* sản phẩm giảm giá này */
.product-sale .container-fluid .row .d-flex .card{
  width: 100%;
}
.btn-buy button {
  border-radius: 4px;
  width: 112px;
  height: 42px;
  border: none;
  background-color: #ff0000;
  color: #fff;
}
.row .d-flex i {
  border-radius: 4px;
  color: #fff;
  margin-left: 12px;
  background-color: #ff0000;
  padding: 5px 18px 8px 18px;
  width: 56px;
}
.btn-buy button:hover {
  color: #ffff;
  opacity: 0.5;
}
.row .d-flex i:hover {
  opacity: 0.5;
}
/* banner dưới */
.banner-bottom {
  margin: 12px 0;
  width: 100%;
  height: auto;
}
.banner-bottom img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 12px 0;
  text-transform: uppercase;
}
/* chi tiết sản phẩm */
.product-detail {
  margin: 28px 0;
  width: 100%;
}
.product-detail .container .row .col-12{
  margin: 12px auto;
}
.card-text__price{
  font-weight: 700;
  font-size: larger;
  color: #ff0000;
  text-align: center;
}
.card-text__price span{
  font-weight: 400;
  color: #ccc;
  font-size: 14px;
  text-decoration: line-through;
}
.card-title{
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
.card-icons {
  justify-content: space-around;
}
/* tin tức */
.news {
  display: block;
}
.news .title-news {
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 12px;
  background-color: #ff0000;
  width: 100%;
  font-size: 28px;
}

a:hover {
  text-decoration: none;
  color: #ff0000 !important;
}
/* chân trang */
footer{
  background-color: #fff;
}
footer .container .row  .logo-bottom  p  a{
  font-size: 1rem;
}
footer .container .row .col-lg-2 h5{
  text-transform: uppercase;
  color: #000;
}
footer .container .row .col-lg-2 ul li a:hover{
  padding-left: 8px ;
  text-decoration: none;
}
@media (max-width: 575.98px) {
  .card-deck {
    width: 100%;
  }
  .form-info .container .row  .col-lg-8 input{
    width: 100%;
  }
}
@media (max-width: 576px)  {
  .table-content .container table tbody tr td img{
    width: 80x;
    height: 80px;
  }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-deck {
    width: 100%;
  }
  .card-deck .card .card-title {
    font-size: 12px;
    margin: 0;
  }
  .fomr-info .container .row  .col-lg-8 input{
    width: 100%;
  }
  .table-content .container table tbody tr td img{
    width: 80x;
    height: 80px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-deck {
    width: 100%;
  }

  .card-deck .card .card-body .card-title {
    width: 100%;
    font-size: 12px;
  }
  .card-deck .card .card-title {
    margin: 0;
  }
  .btn-buy button {
    font-size: 0.7rem;
    width: 68px;
    height: 38px;
  }
  .row .d-flex i {
    padding: 4px 0px 9px 13px;
    margin-left: 12px;
    background-color: #ff0000;
    width: 48px;
  }
  .form-info .container .row  .col-lg-8 input{
    width: 100%;
  }
  .table-content .container table tbody tr td img{
    width: 80x;
    height: 80px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-deck {
    width: 100%;
  }
  .card-deck .card .card-title {
    margin: 0;
  }
  .product-detail .row .banner-left {
    display: none;
  }
  .table-content .container table tbody tr td img{
    width: 98x;
    height: 98px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .info .img-top{
    margin: 0 auto;
    width: 36%;
  }
  .table-content .container table tbody tr td img{
    width: 160px;
    height: 160px;
  }
}
/* --đăng nhập đăng ký */
.bread-crumb{
  height: 180px ;
  min-height: 100px;
  width: 100%;
  background: url(//bizweb.dktcdn.net/100/364/158/themes/802198/assets/bg-bcrum.jpg?1705462866789) no-repeat 0 0 ;
  background-size: cover;
}
.breadcrumb-container .title-page{
  font-weight: bold;
  margin-top: 8%;
  font-size: 2em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.breadcrumb-container ul{
  background:none;
}
.breadcrumb-container ul .home i{
  margin-right: 12px;
  color: #ff0000;
}
.breadcrumb-container ul li strong span{
  color: #fff;
  font-weight: 600;
}
.breadcrumb-container ul .home a span{
  font-weight: 600;
  color: #ff0000;
  font-size: 1em;
}
/* giới thiệu */
.info{
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.info img{
  width: 100%;
}

/* liên hệ */
.container iframe{
  width: 100%;
}
.body-contact .container .row  .col-sm-4 p a:hover{
  text-decoration: none;
}
.body-contact .container .row  .col-sm-4 p a{
  font-weight: 400 ;
  color: #ccc;
  font-size: 1em;
}
.body-contact .container .row  .col-lg-12 .form-control input{
  border: none;
  outline: none;
  width: 100%;
}
.body-contact .container .row  .col-lg-12  textarea{
  border: 1px solid #ced4da;  ;
  outline: none;
  width: 100%;
}
 .btn-post{
  padding: 6px 16px;
  color: #fff;
  outline: none;
  border: 1px solid #ff0000;
  background-color: #ff0000;
}
.row  .col-lg-12 .btn-post:hover{
  background-color: rgba(0,0,0,0);
  color: #ff0000;
}
/* đây là phần tin tức */
.news-page .container .row .col-12 .card .date{
  text-align: center;
  padding: 8px 12px;
  left: -1px;
  background-color: #ff0000;
  height: 64px;
  /* z-index: 1; */
  position: absolute;
}
.news-page .container .row .col-12 .card .date .top{
  border-bottom: 1px solid ;
}
.news-page .container .row .col-12 .card .date p{
  color: #fff;
  margin-bottom: 0;

}

.news-page .container .row .col-12 .card .card-body .card-title {
  text-align: left;
  font-size: 20px;
  color: #ff0000;
}
.news-page .container .row .col-12 .card .card-body .card-text a{
  font-size: 16px;
  font-weight: 400;
}
.news-page .container .row .col-12 .card .card-body .card-text a{
  text-decoration: none;
}
/* cart */
.table-content .container table tbody tr{
  border-top: none;
}
.name-product{
  font-size: 20px;
    font-weight: 700;
    width: 50%;
}
 .form-message {
  color: red;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}
